/*
Basic styling

Right align the success value
Display the Submit button in it's own box. Add some spacing around the element.
Set a mono-space font on the output <div> so we have a better view on the generated JSON output.

*/

* {
    margin-bottom: 1rem;
}
input {
    text-align:  right;
}

button {
    display:block;
}

div {
    font-family: mono-space;
}
